@media (max-width: 768px) {
    nav .logo img {
      height: 60px; 
    }
  
    footer .footer-logo img {
      height: 60px; 
    }
  
    nav .logo span {
      font-size: 20px; 
    }
  
    nav {
      padding: 10px;
    }
  
    .header_toplist ul { 
      align-items: flex-start; 
      gap: 10px; 
    }
  
    .hamburger {
      display: block; 
    }
  
    .nav-links {
      display: none; 
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      background: #FFF;
      padding: 20px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
  
    .nav-links.active {
      display: flex; 
      flex-direction: column;
      gap: 15px;
    }

    .header_toplist .text-label {
        display: none;
      }
    
      .header_toplist ul {
        gap: 15px;
      }
    
      .header_toplist a {
        display: flex;
        gap: 5px; 
      }
    
      .header_toplist svg {
        width: 24px;
        height: 24px;
      }
  }